<div id="wrapper">
  <div id="login" class="animate form" class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
    <br>
    <section class="login_content">
      <form ng-submit="signup()">
        <h1>Register Form</h1>
        <div>
          <input ng-model="usr.email" type="text"
                 class="padding-rl5 form-control" placeholder="Email"
                 required="" />
        </div>
        <div>
          <input ng-model="usr.username" type="text" class="padding-rl5 form-control" placeholder="Usuario" required="" />
        </div>
        <div>
          <input ng-model="usr.password" type="password" class="padding-rl5 form-control" placeholder="Password" required="" />
        </div>
        <div>
          <button class="btn btn-default submit" type="submit">Log in</button>
          <a ng-click="resetPassword()" class="reset_pass" href="#">Password perdida?</a>
        </div>
        <div class="clearfix"></div>
      </form>
    </section>
  </div>
</div>