<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Contenido</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col s12">
              <ul tabs>
                <li class="tab col s3"><a class="active" href="#comments-tab">Comentarios</a></li>
                <li class="tab col s3"><a href="#profile-tab">Checklist</a></li>
                <li class="tab col s3"><a href="#dates-tab">Hitos</a></li>
                <li class="tab col s3"><a href="#comments-stars">Destacados</a></li>
                <li class="tab col s3"><a href="#attachments-tab">Adjuntos</a></li>
              </ul>
            </div>
            <div id="comments-tab" class="col s12 margin-top10">
              <!-- user messages -->
              <div class="row clearfix margin-b10">
                <div ng-if="totalItems> 0" class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                  <input ng-model="searchComment" tabindex="0" aria-invalid="false" type="text" class="form-control pull-left filter" placeholder="Buscar comentario...">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right">
                  <a scroll-on-click class="btn-floating btn-small waves-effect waves-light green-std"><i class="fa fa-pencil"></i></a>
                </div>
              </div>
              <ul class="row messages">
                <li class="comments" ng-if="totalItems> 0" ng-repeat="comment in allComments | filter:{ comment : searchComment }">


                <div class='img-comment'>
                  <img ng-src="{{ comment.user.avatar || 'images/user.png'}}" class="img-avatar"/>  
                  <div class='description'>  
                    <p class='description_content'>{{ comment.user.first_name }}</p>  
                  </div>  
                </div>  




                  
                  <div class="message_date">
                    <div class="date"><span class="day">{{comment.created_at |  moment:'DD'}}</span><span class="month">{{comment.created_at | moment:'MMM'}}</span></div>
                  </div>
                  <div class="message_wrapper">
                    <div ng-if="userId === comment.user.id">
                      <a href="#" onaftersave="updateComment(comment)" editable-text="comment.comment">
                        <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                      </a>
                    </div>
                    <div ng-if="userId !== comment.user.id">
                      <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                    </div>
                    <br />
                    <p class="url" ng-show="comment.docfile">
                      <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                      <a href="{{comment.docfile}}"><i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}} </a>
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="btn-group pull-right" role="group">
                      <a ng-click="makeFavourite(comment)" class="btn-floating btn-small waves-effect waves-light blue-grey lighten-1">
                      <i ng-if="comment.favourite === true" class="fa fa-star star"></i>
                      <i ng-if="comment.favourite === false" class="fa fa-star-o"></i>
                      </a>
                      <a ng-if="userId === comment.user.id" ng-click="deleteComment(comment.id)" class="btn-floating btn-small waves-effect waves-light naranja-std"><i class="fa fa-trash-o"></i></a>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <div ng-if="totalItems.length == 0" class="text-center">
                <h6>No se encontraron comentarios para esta tarea.</h6>
                <br />
                <br />
              </div>
              <!-- end of user messages -->
              </br>
              <!-- paginator -->
              <div class="center">
                <div ng-show="totalItems> 0">
                  <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
                  </uib-pagination>
                </div>
              </div>
              </br>
              <!-- /paginator -->
              <form name="form" ng-submit="newComment(form)">
                <div class="form-group">
                  <div id="comments" text-angular ng-model="cm.comment" name="comment"></div>
                  <input file-model="cm.docfile" name="docfile" type="file" class="btn">
                </div>
                <div class="form-group">
                  <button class="btn btn-default btn-sm" type="submit">Comentar</button>
                </div>
              </form>
            </div>
            <div id="profile-tab" class="col s12 margin-top10">
              <!-- /checklist-tab -->
              <div ng-controller="todoController" class="wrapper-md">
                <input ng-model="searchTodo" tabindex="0" aria-invalid="false" type="text" class="form-control filter" placeholder="Filtrar tarea a realizar...">
                </br>
                <div>
                  <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
                    <input ng-model="description" placeholder="Tarea a realizar" class="form-control input-md filter" tabindex="0" aria-invalid="false">
                  </form>
                </div>
                <div aria-hidden="false" class="">
                  <ul tabs>
                    <li class="tab col s4" ui-sref-active="active">
                      <a class="active" ng-click="statusFilter = {}">Todas</a>
                    </li>
                    <li class="tab col s4" ui-sref-active="active">
                      <a ng-click="statusFilter = {done: false}">Activas</a>
                    </li>
                    <li class="tab col s4" ui-sref-active="active">
                      <a ng-click="statusFilter = {done: true}">Completas</a>
                    </li>
                  </ul>
                  <ul class="to_do">
                    <li 
                      ng-show="todoTasks !== []" 
                      ng-repeat="todo in todoTasks | 
                      filter: { description : searchTodo } |
                      filter : statusFilter">
                        <p>
                          <input icheck ng-model="todo.done" ng-change="doneTodo(todo.id)" type="checkbox"> 
                          {{todo.created_at | moment:'DD/MM/YYYY' }} - {{todo.description}}
                          <a confirmed-click="deleteTodo(todo.id)" ng-confirm-click="Desea borrar ?" class="btn-floating btn-small waves-effect waves-light naranja-std pull-right">
                          <i class="fa fa-trash-o"></i>
                          </a>
                        </p>
                    </li>
                  </ul>
                  <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
                    <div class="sl-item b-danger b-l">
                      <div class="m-l">
                        <p>No se encontraron tareas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /checklist-tab -->
            </div>
            <div id="dates-tab" class="col s12 margin-top10">
              <!-- /dates-tab -->
              <div ng-controller="milestoneController" class="wrapper-md">
                <form ng-submit="addMilestone()" id="todo-form" class="ng-pristine ng-valid">
                  <div class="row">
                    <div class="col-xs-3 col-md-3">
                      <div class="form-group">
                        <input ng-model="newMilestone.date" type="text" placeholder="Fecha" class="form-control input-md" jqdatepicker format="yy-mm-dd">
                      </div>
                    </div>
                    <div class="col-xs-7 col-md-7">
                      <div class="form-group">
                        <input ng-model="newMilestone.description" type="text" placeholder="Nuevo hito" class="form-control input-md">
                      </div>
                    </div>
                    <button type="submit" style="visibility: hidden;"></button>
                  </div>
                </form>
                <div aria-hidden="false">
                  <ul tabs>
                    <li class="tab col s4">
                      <a class="active" ng-click="statusFilter = {}">Todas</a>
                    </li>
                    <li class="tab col s4">
                      <a ng-click="statusFilter = {done: false}">Activas</a>
                    </li>
                    <li class="tab col s4">
                      <a ng-click="statusFilter = {done: true}">Completas</a>
                    </li>
                  </ul>
                </div>
                </br>
                <div ng-if="milestones.length> 0" ng-repeat="ml in milestones | filter: statusFilter">
                  <span class="milestone" ng-class="getClass(ml.date)">
                    {{ ml.date }} &nbsp 
                    {{ ml.description }}
                    <div class="pull-right">
                      {{ ml.date | momentNow }}
                      <!-- status -->
                      <a ng-if="ml.done === true" ng-click="doneMilestone(ml)">
                      <i class="fa fa-check-circle-o blanco"></i>
                      </a>
                      <a ng-if="ml.done === false" ng-click="doneMilestone(ml)">
                      <i class="fa fa-circle-o blanco"></i>
                      </a>
                      <!-- /status -->
                      <!-- delete -->
                      <a ng-if="userId === ml.user" ng-click="deleteMilestone(ml.id)" class="blanco">
                      <i class="fa fa-trash-o"></i>
                      </a>
                      <i ng-if="userId !== ml.user" class="fa fa-trash-o gris"></i>
                      <!-- /delete -->
                    </div>
                  </span>
                </div>
                <div ng-if="milestones.length === 0" style="list-style-type:none;">
                  <div class="message_wrapper text-center">
                    <h6>No se encontraron hitos para esta tarea.</h6>
                    <br />
                  </div>
                </div>
              </div>
              <!-- /dates-tab -->
            </div>
            <div id="comments-stars" class="col s12 margin-top10">
              <!-- /comments-stars -->
              <ul class="messages">
                <li class="comments" ng-if="totalItems> 0" ng-repeat="comment in allComments | filter:{ comment : searchComment } | filter: {favourite: true}">
                  <img ng-src="{{ comment.user.avatar || 'images/user.png'}}" class="avatar" alt="Avatar">
                  <div class="message_date">
                    <div class="date"><span class="day">{{comment.created_at |  moment:'DD'}}</span><span class="month">{{comment.created_at | moment:'MMM'}}</span></div>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">{{comment.user.first_name}} {{comment.user.last_name}}</h4>
                    <div ng-if="userId === comment.user.id">
                      <a href="#" onaftersave="updateComment(comment)" editable-text="comment.comment">
                        <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                      </a>
                    </div>
                    <div ng-if="userId !== comment.user.id">
                      <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                    </div>
                    <br />
                    <p class="url" ng-show="comment.docfile">
                      <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                      <a href="{{comment.docfile}}"><i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}} </a>
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <span class="btn-group pull-right" role="group">
                      <a ng-click="makeFavourite(comment)" class="btn-floating btn-small waves-effect waves-light blue-grey lighten-1">
                      <i ng-if="comment.favourite === true" class="fa fa-star star"></i>
                      <i ng-if="comment.favourite === false" class="fa fa-star-o"></i>
                      </a>
                      <a ng-if="userId === comment.user.id" ng-click="deleteComment(comment.id)" class="btn-floating btn-small waves-effect waves-light naranja-std"><i class="fa fa-trash-o"></i></a>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <div ng-if="totalItems.length == 0" class="text-center">
                <h6>No se encontraron comentarios destacados para esta tarea.</h6>
                <br />
              </div>
              <!-- /comments-stars -->
              <!-- paginator -->
              <div class="center">
                <div ng-show="totalItems> 0">
                  <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
                  </uib-pagination>
                </div>
              </div>
              </br>
              <!-- /paginator -->
            </div>
            <div id="attachments-tab" class="col s12 margin-top10">
              <input ng-model="searchAttach" tabindex="0" aria-invalid="false" type="text" class="form-control pull-left filter" placeholder="Buscar adjunto...">
              <div class="clearfix"></div>
              <div ng-if="attachments.length> 0">
                <ul class="list-unstyled project_files">
                  <li ng-repeat="att in attachments | filter: searchAttach">
                    <a href="{{ att.docfile }}">
                    <i class="fa-2x {{ att.docfile | extension }}">
                    </i>{{ att.created_at | moment:'DD/MM/YYYY' }} @ {{att.docfile | lastWord }} 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- start project-detail sidebar -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <section class="panel" id="proj-panel">
            <div class="x_title" id="proj-title">
              <h2>Descripcion del proyecto</h2>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <h2 class="verde-texto padding-b10">{{task.title}}</h2>
              <p>
                <b>Descripcion :</b> {{task.description}}
              </p>
              <div class="divisor"></div>
              <p>
                <b>Referente :</b> {{task.client.first_name}} {{task.client.last_name}}
              </p>
              <p>
                <b>Propietario de la tarea : </b>{{task.user.first_name}} {{task.user.last_name}}
              </p>
              <div class="divisor"></div>
              <p ng-if="task.identificator">
                <b>Cod. Tarea :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.identificator">{{task.identificator}}</a>
              </p>
              <p ng-if="task.start_date">
                <b>Fecha de comienzo :</b>
                <a href="#" onaftersave="updateTask()" editable-date="task_update.start_date" e-datepicker-popup="yyyy-MM-dd">{{task.start_date}}</a>
              </p>
              <p ng-if="task.finish_date">
                <b>Fecha de finalizacion :</b>
                <a href="#" onaftersave="updateTask()" editable-date="task_update.finish_date" e-datepicker-popup="yyyy-MM-dd">{{task.finish_date}}</a>
              </p>
              <p ng-if="task.estimation_hours">
                <b>Horas estimadas :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.estimation_hours">{{task.estimation_hours}}</a> hs
              </p>
              <p ng-if="task.implementation_id">
                <b>Cod. Admin. Implementacion :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.implementation_id">{{task.implementation_id}}</a>
              </p>
              <p ng-if="task.urgency.name">
                <b>Urgencia :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.urgency" e-ng-options="item.id as item.name for item in urgency">{{task.urgency.name}}</a>
              </p>
              <p ng-if="task.module.name">
                <b>Modulo :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.module" e-ng-options="item.id as item.name for item in modules">{{task.module.name}}</a>
              </p>
              <p ng-if="task.status.name">
                <b>Estado :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.status" e-ng-options="item.id as item.name for item in Tstatus">{{task.status.name}}</a>
              </p>
              <p ng-if="task.priority">
                <b>Orden :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.priority">{{task.priority}}</a>
              </p>
              <p ng-if="task.om">
                <b>Responsable OyP :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.om">{{task.om}}</a>
              </p>
              <div class="center-block">
                <button ng-if="!task.done" ng-click="doneTask()" class="waves-effect waves-light btn btn-xs btn-task gris-std"><i class="fa fa-lock left"></i>Cerrar tarea</button>
                <button ng-if="task.done" ng-click="openTask()" class="waves-effect waves-light btn btn-xs btn-task gris-std"><i class="fa fa-unlock left"></i>Abrir tarea</button>
                <button ng-if="userId === task.user.id" ng-click="deleteTask()" class="waves-effect waves-light btn btn-sm btn-task naranja-std"><i class="fa fa-trash left"></i>Borrar tarea</button>
              </div>
            </div>
          </section>
        </div>
        <!-- end project-detail sidebar -->
      </div>
    </div>
  </div>
</div>


