<toaster-container></toaster-container>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Contenido</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="" role="tab" data-target="#comments-tab" aria-expanded="true" data-toggle="tab">Comentarios</a>
              </li>
              <li role="presentation" class="">
                <a href="" role="tab" data-target="#profile-tab" aria-expanded="false" data-toggle="tab">Checklist</a>
              </li>
              <li role="presentation" class="">
                <a href="" role="tab" data-target="#dates-tab" aria-expanded="false" data-toggle="tab">Hitos</a>
              </li>
              <li role="presentation" class="">
                <a href="" role="tab" data-target="#comments-stars" aria-expanded="false" data-toggle="tab">Comentarios destacados</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="comments-tab" aria-labelledby="comment-tab">
                <!-- user messages -->
                <div class="row clearfix margin-b10">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <input ng-model="searchComment" tabindex="0" aria-invalid="false" type="text" class="form-control pull-left" placeholder="Buscar comentario..." 
                    style="border-radius: 5px">
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <a scroll-on-click>
                      <i class="fa fa-pencil-square-o icon-36 pull-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <ul class="messages">
                  <li class="comments" ng-if="totalItems > 0" ng-repeat="comment in allComments | filter:{ comment : searchComment }">
                    <img ng-src="{{ comment.user.avatar || 'images/user.png'}}" class="avatar" alt="Avatar">
                    <div class="message_date">
                      <h3 class="date text-info">{{comment.created_at |  moment:'DD'}}</h3>
                      <p class="month">{{comment.created_at | moment:'MMM'}}</p>
                    </div>
                    <div class="message_wrapper">
                      <h4 class="heading">{{comment.user.first_name}} {{comment.user.last_name}}</h4>
                      <div ng-if="userId === comment.user.id">
                        <a href="#" onaftersave="updateComment(comment)" editable-text="comment.comment">
                          <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                        </a>
                      </div>
                      <div ng-if="userId !== comment.user.id">
                        <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                      </div>
                      <br />
                      <p class="url" ng-show="comment.docfile">
                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                        <a href="{{comment.docfile}}"><i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}} </a>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-xs-2 col-xs-offset-10 col-md-2 col-md-offset-10">
                        <span class="btn-group pull-right" role="group">
                          <button class="btn btn-xs" ng-click="makeFavourite(comment)">
                            <i class="fa fa-star star" ng-if="comment.favourite === true"></i>
                            <i class="fa fa-star-o" ng-if="comment.favourite === false"></i>
                          </button>
                          <button class="btn btn-xs" ng-if="userId === comment.user.id" ng-click="deleteComment(comment.id)">
                            <i class="fa fa-trash-o"></i> 
                          </button>
                        </span>
                      </div>
                    </div>
                  </li>
                  <li ng-if="totalItems === 0" style="list-style-type:none;">
                    <div class="message_wrapper text-center">
                      <h6>No se encontraron comentarios para esta tarea.</h6>
                      <br />
                    </div>
                  </li>
                </ul>
                <!-- end of user messages -->
                <form name="form" ng-submit="newComment(form)">
                  <div class="form-group">
                    <div id="comments" text-angular ng-model="cm.comment" name="comment"></div>
                    <input file-model="cm.docfile" name="docfile" type="file" class="btn">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-default btn-sm" type="submit">Comentar</button>
                  </div>
                </form>
                <!-- paginator -->
                <div ng-show="totalItems > 0">
                  <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
                  </uib-pagination>
                </div>
                <!-- /paginator -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile-tab" aria-labelledby="profile-tab">
                <!-- /checklist-tab -->
                <div ng-controller="todoController" class="wrapper-md">
                  <input ng-model="searchTodo" tabindex="0" aria-invalid="false" type="text" class="form-control" placeholder="Filtrar tarea a realizar..." style="border-radius: 5px;">
                  </br>
                  <div>
                    <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
                      <input ng-model="description" placeholder="Tarea a realizar" class="form-control input-md ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false">
                    </form>
                  </div>
                  <div aria-hidden="false" class="">
                    <ul class="nav nav-pills">
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {}">Todas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: false}">Activas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: true}">Completas</a>
                      </li>
                    </ul>
                    <ul class="to_do">
                      <li 
                      ng-show="todoTasks !== []" 
                      ng-repeat="todo in todoTasks | 
                      filter: { description : searchTodo } |
                      filter : statusFilter">
                        <p>
                          <input icheck data-i-check ng-model="todo.done" ng-change="doneTodo(todo.id)" type="checkbox" class="flat"> {{ todo.description }}
                        </p>
                      </li>
                    </ul>
                    <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
                      <div class="sl-item b-danger b-l">
                        <div class="m-l">
                          <p>No se encontraron tareas.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /checklist-tab -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="dates-tab" aria-labelledby="dates-tab">
                <!-- /dates-tab -->
                <div ng-controller="milestoneController" class="wrapper-md">
                  <form ng-submit="addMilestone()" id="todo-form" class="ng-pristine ng-valid">
                    <div class="row">
                      <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                          <input ng-model="newMilestone.date" type="text" placeholder="Fecha" class="form-control input-md" jqdatepicker format="yy-mm-dd">
                        </div>
                      </div>
                      <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                          <input ng-model="newMilestone.description" type="text" placeholder="Nuevo hito" class="form-control input-md">
                        </div>
                      </div>
                      <button type="submit" style="visibility: hidden;"></button>
                    </div>
                  </form>
                  <div aria-hidden="false" class="">
                    <ul class="nav nav-pills">
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {}">Todas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: false}">Activas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: true}">Completas</a>
                      </li>
                    </ul>
                  </div>
                  <div ng-if="milestones.length > 0" ng-repeat="ml in milestones | filter: statusFilter">
                    <span class="milestone" ng-class="getClass(ml.date)">
                      {{ ml.date }} &nbsp 
                      {{ ml.description }}
                      <div class="pull-right">
                        {{ ml.date | momentNow }}
                        <!-- status -->
                        <a ng-if="ml.done === true" ng-click="doneMilestone(ml)">
                          <i class="fa fa-check-circle-o blanco"></i>
                        </a>
                        <a ng-if="ml.done === false" ng-click="doneMilestone(ml)">
                          <i class="fa fa-circle-o blanco"></i>
                        </a>
                        <!-- /status -->
                        <!-- delete -->
                        <a ng-if="userId === ml.user" ng-click="deleteMilestone(ml.id)" class="blanco">
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <i ng-if="userId !== ml.user" class="fa fa-trash-o gris"></i>
                        <!-- /delete -->
                      </div>
                    </span>
                  </div>
                  <div ng-if="milestones.length === 0" style="list-style-type:none;">
                    <div class="message_wrapper text-center">
                      <h6>No se encontraron hitos para esta tarea.</h6>
                      <br />
                    </div>
                  </div>
                </div>
                <!-- /dates-tab -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="comments-stars" aria-labelledby="comments-stars">
                <!-- /comments-stars -->
                <ul class="messages">
                  <input ng-model="searchComment" tabindex="0" aria-invalid="false" type="text" class="form-control" placeholder="Buscar comentario..." style="border-radius: 5px;width: 96%;">
                  </br>
                  <li class="comments" ng-if="totalItems > 0" ng-repeat="comment in allComments | filter: { comment : searchComment } | filter: {favourite : true}">
                    <img ng-src="{{ comment.user.avatar || 'images/user.png'}}" class="avatar" alt="Avatar">
                    <div class="message_date">
                      <h3 class="date text-info">{{comment.created_at |  moment:'DD'}}</h3>
                      <p class="month">{{comment.created_at | moment:'MMM'}}</p>
                    </div>
                    <div class="message_wrapper">
                      <h4 class="heading">{{comment.user.first_name}} {{comment.user.last_name}}</h4>
                      <div ng-if="userId === comment.user.id">
                        <a href="#" onaftersave="updateComment(comment)" editable-text="comment.comment">
                          <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                        </a>
                      </div>
                      <div ng-if="userId !== comment.user.id">
                        <blockquote ng-bind-html="comment.comment | rawHtml"></blockquote>
                      </div>
                      <br />
                      <p class="url" ng-show="comment.docfile">
                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                        <a href="{{comment.docfile}}"><i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}} </a>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-xs-2 col-xs-offset-10 col-md-2 col-md-offset-10">
                        <span class="btn-group pull-right" role="group">
                          <button class="btn btn-xs" ng-click="makeFavourite(comment)">
                            <i class="fa fa-star star" ng-if="comment.favourite === true"></i>
                            <i class="fa fa-star-o" ng-if="comment.favourite === false"></i>
                          </button>
                          <button class="btn btn-xs" ng-if="userId === comment.user.id" ng-click="deleteComment(comment.id)">
                            <i class="fa fa-trash-o"></i> 
                          </button>
                        </span>
                      </div>
                    </div>
                  </li>
                  <li ng-if="totalItems === 0" style="list-style-type:none;">
                    <div class="message_wrapper text-center">
                      <h6>No se encontraron comentarios para esta tarea.</h6>
                      <br />
                    </div>
                  </li>
                </ul>
                <!-- /comments-stars -->
              </div>
            </div>
          </div>
        </div>
        <!-- start project-detail sidebar -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <section class="panel" id="proj-panel">
            <div class="x_title" id="proj-title">
              <h2>Descripcion del proyecto</h2>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <h3 class="green">{{task.title}}</h3>
              <p>
                <b>Descripcion :</b> {{task.description}}
              </p>
              <div class="divisor"></div>
              <p>
                <b>Referente :</b> {{task.client.first_name}} {{task.client.last_name}}
              </p>
              <p>
                <b>Propietario de la tarea : </b>{{task.user.first_name}} {{task.user.last_name}}
              </p>
              <div class="divisor"></div>
              <p>
                <b>Cod. Tarea :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.identificator">{{task.identificator}}</a>
              </p>
              <p>
                <b>Fecha de comienzo :</b>
                <a href="#" onaftersave="updateTask()" editable-date="task_update.start_date" e-datepicker-popup="yyyy-MM-dd">{{task.start_date}}</a>
              </p>
              <p>
                <b>Fecha de finalizacion :</b>
                <a href="#" onaftersave="updateTask()" editable-date="task_update.finish_date" e-datepicker-popup="yyyy-MM-dd">{{task.finish_date}}</a>
              </p>
              <p>
                <b>Horas estimadas :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.estimation_hours">{{task.estimation_hours}}</a> hs
              </p>
              <p>
                <b>Cod. Admin. Implementacion :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.implementation_id">{{task.implementation_id}}</a>
              </p>
              <p>
                <b>Urgencia :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.urgency" e-ng-options="item.id as item.name for item in urgency">{{task.urgency.name}}</a>
              </p>
              <p>
                <b>Modulo :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.module" e-ng-options="item.id as item.name for item in modules">{{task.module.name}}</a>
              </p>
              <p>
                <b>Estado :</b>
                <a href="#" onaftersave="updateTask()" editable-select="task_update.status" e-ng-options="item.id as item.name for item in Tstatus">{{task.status.name}}</a>
              </p>
              <p>
                <b>Orden :</b>
                <a href="#" onaftersave="updateTask()" editable-text="task_update.priority">{{task.priority}}</a>
              </p>
              <div class="mtop20">
                <button ng-if="!task.done" ng-click="doneTask()" class="btn btn-sm btn-info">Cerrar tarea</button>
                <button ng-if="task.done" ng-click="openTask()" class="btn btn-sm btn-info">Abrir tarea</button>
                <button ng-if="userId === task.user.id" ng-click="deleteTask()" class="btn btn-sm btn-danger">Borrar tarea</button>
              </div>
              <div ng-if="attachments.length > 0">
                <div class="ln_solid"></div>
                <h5><u>Adjuntos</u></h5>
                <ul class="list-unstyled project_files">
                  <li ng-repeat="att in attachments">
                    <a href="{{ att.docfile }}">
                    <i class="{{ att.docfile | extension }}">
                    </i>{{att.docfile | lastWord }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <!-- end project-detail sidebar -->
      </div>
    </div>
  </div>
</div>