<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tips</h2>
        <ul class="nav navbar-right panel_toolbox" uib-popover="Nuevo tip" popover-trigger="mouseenter" popover-placement="left">
          <a class="btn-floating btn-small waves-effect waves-light green-std">
            <i class="fa fa-plus" data-toggle="modal" data-target="#myModal"></i></a>
          </a>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <input ng-model="searchTip" tabindex="0" aria-invalid="false" type="text" class="form-control filter" placeholder="Filtrar tips...">
        </br>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div ng-repeat="tip in tips | filter: searchTip track by tip.id" class="col-md-4">
                <a data-toggle="modal" data-target="#modal{{tip.id}}" style="text-decoration: none;">
                  <div class="bs-callout" style="border-left-color: {{tip.color}};" >
                    <p class="text-category">{{ tip.title }}</p>
                    <p ng-bind-html="tip.description" class="bs-description"></p>
                  </div>
                </a>

                <div id="modal{{tip.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form>
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h5 class="modal-title">Nuevo tip</h5>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="form-group input-field">
                                <label for="title">Titulo</label>
                                <input ng-required="true" ng-model="tip.title" type='text' class="form-control" id="title">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="form-group">
                                <button colorpicker colorpicker-position="top" ng-model="tip.color" class="btn btn-default" type="button">Cambiar color</button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="form-group">
                                <label for="description">Descripcion</label>
                                <div text-angular ng-model="tip.description" id="description"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button ng-click="updateTip(tip)" class="btn btn-info" type="submit">Actualizar</button>
                          <button ng-click="cancel()" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/row-->    
          </div><!--/col-12-->
        </div><!--/row-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Nuevo tip</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group input-field">
                <label for="title">Titulo</label>
                <input ng-required="true" ng-model="tip.title" type='text' class="form-control" id="title">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <button colorpicker colorpicker-position="top" ng-model="tip.color" class="btn btn-default" type="button">Cambiar color</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="description">Descripcion</label>
                <div text-angular ng-model="tip.description" name="comment" id="description"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-click="newTip()" class="btn btn-info" type="submit">Guardar</button>
          <button ng-click="cancel()" data-dismiss="modal" class="btn btn-default">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>