<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Mis tareas</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <input ng-model="searchTodo" tabindex="0" aria-invalid="false" type="text" class="form-control filter" placeholder="Filtrar tarea a realizar...">
              </br>
              <div class="x_panel">
                <div ng-controller="todoController" class="wrapper-md">
                  <div>
                    <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
                      <input ng-model="description" placeholder="Ud. puede ingresar su lista de tareas personales aqui." autofocus="" class="form-control input-md" tabindex="0" aria-invalid="false">
                    </form>
                  </div>
                  <div aria-hidden="false" class="">
                    <ul tabs>
                      <li ui-sref-active="active" class="tab col s4">
                        <a ng-click="statusFilter = {}">Todas</a>
                      </li>
                      <li ui-sref-active="active" class="tab col s4">
                        <a ng-click="statusFilter = {done: false}">Activas</a>
                      </li>
                      <li ui-sref-active="active" class="tab col s4">
                        <a ng-click="statusFilter = {done: true}">Completas</a>
                      </li>
                    </ul>
                    <ul class="to_do">
                      <li 
                        ng-show="todoTasks !== []" 
                        ng-repeat="todo in todoTasks | 
                        filter: { description : searchTodo } |
                        filter : statusFilter">
                        <p>
                          <input icheck ng-model="todo.done" ng-change="doneTodo(todo.id)" type="checkbox"> 
                          {{todo.created_at | moment:'DD/MM/YYYY' }} - {{todo.description}}
                          <a confirmed-click="deleteTodo(todo.id)" ng-confirm-click="Desea borrar ?" class="btn-floating btn-small waves-effect waves-light naranja-std pull-right">
                          <i class="fa fa-trash-o"></i>
                          </a>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
                    <div class="sl-item b-danger b-l">
                      <div class="m-l">
                        <p>No se encontraron tareas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>